body {
    margin: 0;
    background-image: url("bg.jpg");
}

#scroll {
    margin:4px, 4px;
    margin-top: 50px;
    padding:4px;
    background-color: rgb(230, 230, 230);
    width: 80%;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
    flex-direction:column-reverse;
    border-radius: 20px;
    border: 3px solid #666;
    box-shadow: 0px 0px 20px 20px black;
    background-image: url("bg2.jpg");
    
}
.center {
    display: flex;
    justify-content: center;
    text-align: center;
}


.boxnav {
    background-color: #999;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}


.botText, .myText, .startText {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    width:max-content; /* fit-content stoped working (This done the same) */
    max-width: 200px;
}

.startText {
    background-color: rgb(74, 8, 119);
    margin-top: 20px;
    border: 2px solid #888;
}

.botText {
    background-color: rgb(74, 8, 119);
    margin-top: 80px;
    border: 2px solid #888;
}

.myText {
    float: right;
    background-color: rgb(0, 97, 97);
    margin-top: 10px;
    border: 2px solid white;
}


#textbox {
    margin: 50px;
}



input {
    width: 150px;
    height: 20px;
    margin-top: 7px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(189, 185, 179);
    border: 2px solid #666;
    box-shadow: 0px 0px 10px 10px black;
}

button {
    height: 40px;
    background-color: rgb(4, 85, 1);
    border: 2px solid #666;
    border-radius: 10px;
    color: white;
    width: 60px;
    box-shadow: 0px 0px 10px 10px black;
}


footer {
    background-color: rgba(0, 0, 0, 0.527);
   
}

.footerText {
    margin: 0;
    color: #999;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    margin-top: 300px;
}

.typingText {
    background-color: aqua;
}